---
layout: default
type: home
title: I'm Ruiqi Li
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<p>
  I am a well-rounded Master Candidate in UoE, building a solid foundation in business analytics and HR management, 
  a committed athlete enjoys staying active and regularly engage in activities such as working out and practising martial arts, 
  and a voracious reader interested in business, psychology, finance and personal development.
</p>

<p>

  I have always been interested in data and its power to drive business decisions and improve operations. 
  After completing a number of online courses and gaining practical experience through internships and personal projects, 
  I have developed a strong foundation in data analysis and visualization. I am skilled in using tools such as Excel, SQL, 
  and R studio to manipulate and analyze data, and I am always looking for ways to improve my skills and stay up-to-date with the latest business analysis techniques.

</p>

{% include expertise.html %}

<p>
  Volutpat blandit aliquam etiam erat velit scelerisque. Non pulvinar neque
  laoreet suspendisse. Sapien pellentesque habitant morbi tristique senectus et.
  Proin nibh nisl condimentum id. At consectetur lorem donec massa sapien
  faucibus et molestie ac. Gravida arcu ac tortor dignissim convallis aenean et.
</p>

{% include projects.html %}

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Tristique sollicitudin nibh sit
  amet. At quis risus sed vulputate odio ut. Quis eleifend quam adipiscing vitae
  proin sagittis nisl rhoncus mattis. Urna duis convallis convallis tellus id
  interdum. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero.
  Volutpat est velit egestas dui id ornare. Amet massa vitae tortor condimentum.
</p>

