---
layout: default
type: home
title: I'm Ruiqi Li
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<p>
  I am a well-rounded Master Candidate in UoE, building a solid foundation in business analytics and HR management, 
  a committed athlete enjoys staying active and regularly engage in activities such as working out and practising martial arts, 
  and a voracious reader interested in business, psychology, finance and personal development.
</p>

{% include progress.html %}

<p>
  I have always been interested in data and its power to drive business decisions and improve operations. 
  After completing a number of online courses and gaining practical experience through internships and personal projects, 
  I have developed a strong foundation in data analysis and visualization. I am skilled in using tools such as Excel, SQL, 
  and R studio to manipulate and analyze data, and I am always looking for ways to improve my skills and stay up-to-date with the latest business analysis techniques.
</p>

{% include expertise.html %}


{% include projects.html %}

<p>
  Those projects I have done were great examples of how data analytics can be used to achieve meaningful, real-world goals. 
  A variety of data analytics techniques, including data visualization, statistical analysis, and machine learning, are used in those projects.
  By analyzing the data, I was able to identify key drivers of business trends and use this information to make targeted improvements that led to a significant increase in current scenarios.
  I'm excited to continue using data analytics in this way to make a positive impact and add value in the future.
</p>

